// FONT
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "utils/variables";
@import "utils/responsive";
@import "utils/mixins";
@import "base/base";
@import "components/navbar";
@import "components/sidebar";
@import "components/content";
@import "components/footer";
