.dropdown {
    position: relative;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%) rotate(270deg);
        transition: 0.3s ease;
        background-image: url('../asset/icons/icon_arrow.svg');
        background-repeat: no-repeat;
        border: 0 !important;
        width: 8px;
        height: 13px;
    }
    &-active {
        &::after {
        transition: 0.3s ease;
        transform: translateY(-50%) rotate(90deg);
        }
    }
    &__panel {
        padding: 10px 0;
        display: none;
        overflow: hidden;
        position: absolute;
        background-color: $white;
        border-radius: 4px;
        z-index: 1;
        top: 45px;
        left: -15px;
        min-width: 160px;
        border: 1px solid $grey-border;   
    }
    &__link {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0;
        text-decoration: none;
        color: #123049;
        padding: 10px 8px;
        &:hover {
            background-color: #f8f9fa;
        }
    }
    &__button {}
}

.theme__dark {
    .dropdown {
        &::after {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(106deg) brightness(105%) contrast(101%);
        }
        &__panel {
            background-color: $blue-dark-darken;
            border: none;
        }
        &__link {
            color: $white;
            &:hover {
                background-color: $bg-blue-dark;
            }
        }
    }
}