.feedback {
    background-color: $white;
    display: flex;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 20px 40px 0 rgba(37, 54, 62, 0.3);
    padding: 24px 30px;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
    @media screen and (max-width: $tablet) {
        width: calc(100vw - 20%);
        bottom: 5%;
    }
    &--hide {
        bottom: -300px;
    }
    &__title {
        font-size: 14px;
        font-weight: 500;
        width: 70%;
    }
    &__wrapper-button {
        width: 30%;
        margin-left: 30px;
        display: flex;
        align-items: center;
    }
    &__button {
        cursor: pointer;
        box-shadow: 0 2px 4px 0 rgba(35, 36, 38, 0.06);
        border: solid 1px #d7dfe5;
        background-color: #ffffff;
        padding: 12px;
        text-align: center;
        border-radius: 32121px;
        margin: 0 10px;
    }
}

.theme__dark {
    .feedback {
        background-color: #132f4f;
        &__title {
            color: $white;
        }
        &__button {
            border: 1px solid rgba(255, 255, 255, 0.23);
            background-color: #132f4f;
        }
    }
}