.list {
    padding: 25px;
    &-blue {
        li {
            &::marker {
                color: $blue-link-darken;
            }
        }
    }
    &-link {
        &__child {
            a {
                text-decoration: underline;
                color: $blue-link-darken;
            }
        }
    }
}

.theme__dark {
    .list {
        &-blue {
            li {
                color: $white;
                &::marker {
                    color: $white;
                }
            }
        }
        &-link {
            &__child {
                a {
                    color: $white;
                }
            }
        }
    }
}