:root {
    --theme-color: #0a87da;
    --main-bg-color: #0a87da;
    --main-bg-color-transparent: #0a87da15;
    --main-border-color: #00000024;
    --main-box-shadow: rgba(116, 129, 141, 0.1) 0em 0.2em 0.8em 0em;
    --hover-box-shadow: rgba(116, 129, 141, 0.15) 0em 0.8em 0.8em 0.1em;
    --high-box-shadow: rgba(116, 129, 141, 0.35) 0em 0.3em 0.8em 0em;
    --main-transition: 250ms ease 0s;

    /* override smaller font size for less crowded feel */
    /*--base-font-size: 14px;*/
    /* override to widen sidebar */
    --sidebar-width: 19rem;
}

/* fix <code> overflowing to edge on small width screen. */
/* Except on table because
/* covered by `themeable.responsiveTables: false`
/*/
table code:not([class*="lang-"]):not([class*="language-"]) {
    white-space: nowrap !important;
}
.markdown-section code:not([class*="lang-"]):not([class*="language-"]) {
    white-space: pre-wrap;
    word-break: break-word;
}
/**/

/* fix <a> & <td> overflowing to edge on small width screen .*/
/* NOT NEEDED on `themeable.responsiveTables: false`
.markdown-section a,
td{
    word-break: break-word;
}/**/

.my-card{
    margin-bottom: 1em;
    padding: 1.7em;
    border-style: solid;
    border-width: 0.05em;
    border-radius: 0.4em;
    border-color: var(--main-border-color);
    box-shadow: var(--main-box-shadow);
    transition: var(--main-transition);
}

.my-card:hover{
    border-color: var(--main-bg-color);
    box-shadow: var(--hover-box-shadow);
}

/* Increase clickable area of <a> within card */
.my-card a{
    display:block;
}
/* Except for <a> that inside <p>*/
.my-card p a {
    display: inline;
}

/* @HACK: Override for Vue themes, to remove too high of default padding of <h> */
.my-card h4,
.my-card h3,
.my-card h5
{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

/* Add symbol to card title link's after, to indicate link */
.my-card>h3>a:nth-child(2):after,
.my-card>h4>a:nth-child(2):after,
.my-card>h5>a:nth-child(2):after
{
    content: " ›";
}

.my-btn{
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-style: solid;
    border-width: 0.05em;
    border-radius: 5em;
    border-color: var(--main-border-color);
    transition: 250ms ease 0s;
    background-color: var(--main-bg-color);
    color: #fff;
    font-weight: 700;
    transition: var(--main-transition);
}

.my-btn:hover,
.my-btn:focus{
    filter: brightness(110%);
    box-shadow: var(--high-box-shadow);
    transform: scale(1.05) translate(0em, -0em);
}

iframe{
    border: 0
}

/* @HACK: Override non aesthetic "-" prefix on sidebar h2 link*/
.section-link::before,
.sidebar-nav li>a:before, 
.app-sub-sidebar li::before 
{
    display: none !important;
}

/* Center all image of body content */
.markdown-section img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sidebar-nav li>a[href^="#/"]:not([href*="?id="]), 
.sidebar-nav li>a[href^="#/"]:not([href*="?id="]) ~ ul a
{
    padding: 0.25em 0 0.25em 0;
}

/* @FIX: sub-sidebar click scroll issue, which highlight the wrong preceeding sub-sidebar */
h2>a>span {
    padding-top: 2em;
}
/* @TODO: move all this to `_content.scss` file to centralize custom styles */
