/* Override to hide default arrow icon of details & summary tag */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.collaps-toggle {
    display: none;
}

.collaps-label, summary {
    display: block;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.25s ease-out;
    border-style: solid;
    border-width: 0.05em;
    border-color: var(--main-border-color);
}

/* @HACK: Workaround to allow h1-5 to be inline with ::before / arrow icon */
.collaps-label h1,
.collaps-label h2,
.collaps-label h3,
.collaps-label h4,
.collaps-label h5
summary h1,
summary h2,
summary h3,
summary h4,
summary h5
{
    display: inline;
}

.collaps-label:hover,
.collaps-label:focus,
summary:hover,
summary:focus {
    outline: none;  /* reset browser highlight of summary */
    border-color: var(--main-bg-color);
    filter: brightness(110%);
    box-shadow: var(--high-box-shadow);
    transform: scale(1.01) translate(0em, -0em);
}

/* arrow icon */
.collaps-label::before, 
summary::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: 0.7em;
    transform: translateY(-2px);
    transition: transform 0.25s ease-out;
}

.collaps-label::after,
summary::after {
    content: '(click to expand)';
    font-size: 70%;
    opacity: 0.4;
    float: right;
    line-height: 2.5em;
}

/* Workaround for small screen */
@media only screen and (max-width: 768px) {
    .collaps-label::after,
    summary::after {
        padding-left: 1em;
        float: none;
        font-size: 50%;
    }
}

.collaps-toggle:checked + .collaps-label::before,
details[open] > summary::before {
    transform: rotate(90deg) translateX(-3px);
}

.collaps-content,
details > article {
    background: #00000003;
    margin-bottom: 1em;
    border-style: solid;
    border-width: 0.02em;
    border-color: #00000010;
    border-top: none;
    padding: 0em 1em 0em 1em;
    max-height: 0em;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
}

.collaps-toggle:checked + .collaps-label + .collaps-content, 
details[open] > article{
    margin: auto;
    max-height: 500vh;
    overflow: scroll;
}

