@mixin button($color, $bg-color, $border-color, $hv-color, $hv-bg-color, $hv-border-color, $ds-color, $ds-bg-color, $ds-border-color){
	color: $color;
	background-color: $bg-color;
	border-color: $border-color;
	font-size: 16px;
	font-weight: 500;
	font-family: $poppins, 'sans-serif';
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	border-radius: 12px;
	border-width: 0;
	position: relative;
	&:hover{
		color: $hv-color;
		background-color: $hv-bg-color;
		border-color: $hv-border-color;
	}
	&:disabled {
		color: $ds-color !important;
		background-color: $ds-bg-color !important;
		border-color: $ds-border-color !important;
	}
	&:focus {
		outline: none;
	}
}

//flex
@mixin flex-init() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-init-important() {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
}

@mixin flex-direction($data) {
    -webkit-box-flex-direction: $data;
    -moz-box-flex-direction: $data;
    -webkit-flex-direction: $data;
    -ms-flex-direction: $data;
    flex-direction: $data;
}

@mixin flex($flex) {
    -webkit-box-flex: $flex;
    -moz-box-flex: $flex;
    -webkit-flex: $flex;
    -ms-flex: $flex;
    flex: $flex;
}

@mixin flex-basis($size) {
    flex-basis: $size;
    -webkit-flex-basis: $size;
}

@mixin flex-wrap() {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

@mixin align-items($content) {
    align-items: $content;
    -webkit-align-items: $content;
}

@mixin align-self($content) {
    align-self: $content;
    -webkit-align-self: $content;
}

@mixin justify-content($content) {
    justify-content: $content;
    -webkit-justify-content: $content;
}