$poppins: "Poppins";

$bg-blue: #f7fcff;
$bg-blue-dark: #06192e;

$blue-dark: #0b2440;
$blue-dark-darken: #071d36;
$blue-dark-lighten: #143355;

$blue: #005dac;
$blue-darken: #123049;
$blue-lighten: #495d8b;
$blue-lighten-20: #e8f5fc;

$blue-link-darken: #054fbf;
$blue-link-lighten: #0094d3;

$grey: #8b98b5;
$grey-darken: #92989d;
$grey-border: #deeaf5;

$white: #ffffff;

$blueBorderAccordion: #e4eaed;

$mobile: 576px;
$tablet: 768px;
$netbook: 992px;
$notebook: 1200px;
$large: 1690px;
