$poppins: "Poppins";
$proximaNova: "ProximaNova";
$ProximaNova-Bold: "ProximaNova-Bold";

$bg-blue: #f7fcff;
$bg-blue-dark: #06192e;
$bg-table-dark: #081f3a;

$blue-dark: #0b2440;
$blue-dark-darken: #071d36;
$blue-dark-lighten: #143355;

$blue: #005dac;
$blue-darken: #123049;
$blue-lighten: #495d8b;
$blue-lighten-20: #e8f5fc;
$blue-link-darken: #054fbf;
$blue-link-lighten: #0094d3;
$blue-quote: #007fe7;
$blue-quote-border: #0094d3;
$bg-quote: #edf8ff;
$dropdown-hover: #f8f9fa;

$grey: #8b98b5;
$grey-darken: #92989d;
$grey-border: #deeaf5;
$bg-input: #fbfdfe;
$bg-code: #f7fafd;

$white: #ffffff;
$black: #000;
$white-gray: rgb(211, 211, 211);

$blueBorderAccordion: #e4eaed;

$mobile: 576px;
$tablet: 768px;
$netbook: 992px;
$notebook: 1200px;
$large: 1690px;
