@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Base
============================================================================= */
:root {
  --base-background-color: #f7fcff ;
  --base-boder-color: #deeaf5;
  --base-font-family: $poppins, sans-serif;
  --base-font-size: 16px;
  --base-font-weight: normal;
  --base-letter-spacing: ;
  --base-line-height: 1.7;
  /* Horizontal Rule */
  --hr-border: 1px solid #deeaf5;
}

@font-face {
  font-family: "Menlo";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./fonts/Menlo-Regular.ttf") format("truetype");
}
html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  font-family: "Poppins", "sans-serif";
  -webkit-font-smoothing: auto;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Sidebar
============================================================================= */
:root {
  --sidebar-background: white ;
  --sidebar-border-color: var(--base-boder-color);
  --sidebar-border-width: 0 1px 0 0;
  --sidebar-padding: 0 0 0 12px;
  --sidebar-transition-duration: var(--duration-fast);
  --sidebar-width: 17rem;
  /* Name */
  --sidebar-name-background: ;
  --sidebar-name-color: ;
  --sidebar-name-font-family: "Poppins", sans-serif;
  --sidebar-name-font-size: var(--font-size-l);
  --sidebar-name-font-weight: normal;
  --sidebar-name-margin: 1.5rem 0 0;
  --sidebar-name-padding: ;
  --sidebar-name-text-align: center;
  /* Nav Headings */
  --sidebar-nav-strong-border-color: var(--sidebar-border-color);
  --sidebar-nav-strong-border-width: ;
  --sidebar-nav-strong-color: var(--heading-color);
  --sidebar-nav-strong-font-size: ;
  --sidebar-nav-strong-font-weight: 500;
  --sidebar-nav-strong-margin: 1.5em 0 0.5em;
  --sidebar-nav-strong-padding: 0.25em 0;
  --sidebar-nav-strong-text-transform: ;
  /* Nav Container */
  --sidebar-nav-background: ;
  --sidebar-nav-indent: 1em;
  --sidebar-nav-margin: 1.5rem 0 0;
  --sidebar-nav-padding: ;
  /* Nav Links */
  --sidebar-nav-link-background-color: ;
  --sidebar-nav-link-background-color--active: ;
  --sidebar-nav-link-background-color--hover: ;
  --sidebar-nav-link-background-image: ;
  --sidebar-nav-link-background-image--active: ;
  --sidebar-nav-link-background-image--hover: ;
  --sidebar-nav-link-background-position: ;
  --sidebar-nav-link-background-position--active: ;
  --sidebar-nav-link-background-position--hover: ;
  --sidebar-nav-link-background-repeat: ;
  --sidebar-nav-link-background-size: ;
  --sidebar-nav-link-background-size--active: ;
  --sidebar-nav-link-background-size--hover: ;
  --sidebar-nav-link-border-color: ;
  --sidebar-nav-link-border-color--active: ;
  --sidebar-nav-link-border-color--hover: ;
  --sidebar-nav-link-border-radius: ;
  --sidebar-nav-link-border-style: solid;
  --sidebar-nav-link-border-style--active: ;
  --sidebar-nav-link-border-style--hover: ;
  --sidebar-nav-link-border-width: 0;
  --sidebar-nav-link-border-width--active: ;
  --sidebar-nav-link-border-width--hover: ;
  --sidebar-nav-link-color: var(--base-color);
  --sidebar-nav-link-color--active: ;
  --sidebar-nav-link-color--hover: ;
  --sidebar-nav-link-font-weight: normal;
  --sidebar-nav-link-font-weight--active: ;
  --sidebar-nav-link-font-weight--hover: ;
  --sidebar-nav-link-margin: ;
  --sidebar-nav-link-padding: 0.25em 0;
  --sidebar-nav-link-text-decoration: ;
  --sidebar-nav-link-text-decoration--active: underline;
  --sidebar-nav-link-text-decoration--hover: underline;
  --sidebar-nav-link-text-decoration-color: ;
  --sidebar-nav-link-transition: ;
  /* Nav Links - Pseudo Content */
  --sidebar-nav-link-before-content: ;
  --sidebar-nav-link-before-content--active: ;
  --sidebar-nav-link-before-content-l1: ;
  --sidebar-nav-link-before-content-l1--active: ;
  --sidebar-nav-link-before-content-l2: ;
  --sidebar-nav-link-before-content-l2--active: ;
  --sidebar-nav-link-before-content-l3: ;
  --sidebar-nav-link-before-content-l3--active: ;
  --sidebar-nav-link-before-content-l4: ;
  --sidebar-nav-link-before-content-l4--active: ;
  /* Nav Links - Pseudo Style */
  --sidebar-nav-link-before-color: ;
  --sidebar-nav-link-before-color--active: ;
  --sidebar-nav-link-before-color-l1: ;
  --sidebar-nav-link-before-color-l1--active: ;
  --sidebar-nav-link-before-color-l2: ;
  --sidebar-nav-link-before-color-l2--active: ;
  --sidebar-nav-link-before-color-l3: ;
  --sidebar-nav-link-before-color-l3--active: ;
  --sidebar-nav-link-before-color-l4: ;
  --sidebar-nav-link-before-color-l4--active: ;
  --sidebar-nav-link-before-margin: 0 0.35em 0 0;
  --sidebar-nav-link-before-margin-l1: ;
  --sidebar-nav-link-before-margin-l2: ;
  --sidebar-nav-link-before-margin-l3: ;
  --sidebar-nav-link-before-margin-l4: ;
  /* Nav Page Links */
  --sidebar-nav-pagelink-background-image: ;
  --sidebar-nav-pagelink-background-image--active: ;
  --sidebar-nav-pagelink-background-image--collapse: ;
  --sidebar-nav-pagelink-background-image--loaded: ;
  --sidebar-nav-pagelink-background-position: ;
  --sidebar-nav-pagelink-background-position--active: ;
  --sidebar-nav-pagelink-background-position--collapse: ;
  --sidebar-nav-pagelink-background-position--loaded: ;
  --sidebar-nav-pagelink-background-repeat: no-repeat;
  --sidebar-nav-pagelink-background-size: ;
  --sidebar-nav-pagelink-padding: ;
  --sidebar-nav-pagelink-transition: var(--sidebar-nav-link-transition);
  /* Toggle */
  --sidebar-toggle-background: ;
  --sidebar-toggle-border-color: ;
  --sidebar-toggle-border-radius: var(--border-radius-s);
  --sidebar-toggle-border-style: solid;
  --sidebar-toggle-border-width: 0;
  --sidebar-toggle-height: 36px;
  --sidebar-toggle-icon-color: var(--base-color);
  --sidebar-toggle-icon-height: 10px;
  --sidebar-toggle-icon-stroke-width: 1px;
  --sidebar-toggle-icon-width: 16px;
  --sidebar-toggle-offset-left: 0;
  --sidebar-toggle-offset-top: calc(35px - (var(--sidebar-toggle-height) / 2));
  --sidebar-toggle-width: 44px;
}

/* Custom Sidebar
============================================================================= */
.sidebar-toggle {
  display: none;
}

.sidebar .app-name {
  text-align: left;
}
.sidebar .app-name .app-name-link img {
  max-width: 62%;
}
.sidebar .sidebar__capsule {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
}
.sidebar .sidebar-nav ul li {
  position: relative;
  margin-top: 0.4em;
}
.sidebar .sidebar-nav ul li img {
  height: 1rem;
  padding-right: 1rem;
}
.sidebar .sidebar-nav ul li a {
  background: none !important;
  text-decoration: none;
}
.sidebar .sidebar-nav ul li a strong {
  font-size: 14px;
  font-weight: 500;
}
.sidebar .sidebar-nav ul li a:hover strong {
  color: #005dac !important;
}
.sidebar .sidebar-nav ul li:hover img {
  filter: invert(19%) sepia(94%) saturate(2408%) hue-rotate(193deg) brightness(93%) contrast(102%);
}
.sidebar .sidebar-nav ul li.active img {
  filter: invert(19%) sepia(94%) saturate(2408%) hue-rotate(193deg) brightness(93%) contrast(102%);
}
.sidebar .sidebar-nav ul li.active a strong {
  color: #005dac !important;
}
.sidebar .sidebar-nav ul li.active a:after {
  content: "";
  height: 80%;
  width: 3px;
  background-color: #005dac;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Content
============================================================================= */
/* Content
============================================================================= */
:root {
  /* Headings */
  --heading-h1-color: #123049;
  --heading-h1-font-family: ;
  --heading-h1-font-size: 2.625rem;
  --heading-h1-font-weight: bold;
  --heading-h2-color: #123049;
  --heading-h2-font-size: 1.5rem;
  --heading-h2-font-weight: bold;
  --heading-h3-border-color: ;
  --heading-h3-border-style: solid;
  --heading-h3-border-width: ;
  --heading-h3-color: ;
  --heading-h3-font-family: ;
  --heading-h3-font-size: var(--font-size-l);
  --heading-h3-font-weight: ;
  --heading-h3-margin: ;
  --heading-h3-padding: ;
  --heading-h4-color: #054fbf;
  --heading-h4-font-size: 1rem;
  --heading-h4-font-weight: bold;
  --heading-h5-border-color: ;
  --heading-h5-border-style: solid;
  --heading-h5-border-width: ;
  --heading-h5-color: ;
  --heading-h5-font-family: ;
  --heading-h5-font-size: var(--font-size-s);
  --heading-h5-font-weight: ;
  --heading-h5-margin: ;
  --heading-h5-padding: ;
  --heading-h6-border-color: ;
  --heading-h6-border-style: solid;
  --heading-h6-border-width: ;
  --heading-h6-color: ;
  --heading-h6-font-family: ;
  --heading-h6-font-size: var(--font-size-xs);
  --heading-h6-font-weight: ;
  --heading-h6-margin: ;
  --heading-h6-padding: ;
}

/* Custom Content
============================================================================= */
.content .markdown-section {
  padding: 2rem 18.5px;
}
.content .my-card {
  padding: 28px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #deeaf5;
  margin-bottom: 20px;
}
.content .my-card:hover {
  border-color: #deeaf5;
}
.content .my-card a {
  font-weight: 500;
  color: #054fbf;
  text-decoration: none;
}
.content .my-card a:hover {
  color: #054fbf;
}
.content .my-card p {
  font-size: 16px;
  color: #495d8b;
  line-height: 24px;
}
.content .my-card p a {
  color: #054fbf;
  text-decoration: underline;
  font-weight: 400;
}
.content .my-card p a:hover {
  text-decoration: underline;
}
.content .my-card p {
  text-align: left !important;
}
.content .my-card p sup {
  color: #0094d3;
  text-decoration: none;
  top: 0;
  font-size: 16px;
}
.content .my-card p sup a {
  color: #0094d3;
  text-decoration: none;
}
.content .my-card p sup a:hover {
  text-decoration: none;
}
.content .my-btn {
  outline: none;
  color: #ffffff;
  background-color: #054fbf;
  border-color: #054fbf;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", "sans-serif";
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  border-radius: 12px;
  border-width: 0;
  position: relative;
  padding: 12px 20px;
  border-radius: 24.5px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.content h1 {
  font-style: normal;
  line-height: 68px;
  letter-spacing: 0.5px;
}
.content h2 {
  font-style: normal;
  line-height: 38px;
  letter-spacing: 0.470588px;
}
.content h4 {
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.5px;
}

/*# sourceMappingURL=main.css.map */
