.button {
    font-family: $poppins, sans-serif;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    &__transparent-blue {
        @include button($blue, $white, $white, $blue, $white, $white, $blue, $white, $white);
    }
    &__blue {
        @include button($white, $blue-link-darken, $blue-link-darken, $white, $blue-link-darken, $blue-link-darken, $white, $blue-link-darken, $blue-link-darken);
    }
}

.theme__dark {
    .button {
        &__transparent-blue {
            @include button($white, $blue-dark-darken, $blue-dark-darken, $white, $blue-dark-darken, $blue-dark-darken, $white, $blue-dark-darken, $blue-dark-darken)
        }
    }
}