/* Content based on https://jhildenbiddle.github.io/docsify-themeable/#/customization
============================================================================= */
:root {
  // --content-max-width                 : 55em;

  /* Headings */
  // --heading-color                     : red;
  // --heading-font-family               : ;
  // --heading-font-weight               : ;
  // --heading-margin                    : 2.5rem 0 0;
  // --heading-padding                   : ;
  // content h1
  --heading-h1-color: #{$blue-darken};
  --heading-h1-font-family: ;
  --heading-h1-font-size: 2.625rem;
  --heading-h1-font-weight: bold;

  // content h2
  --heading-h2-color: #{$blue-darken};
  --heading-h2-font-size: 1.5rem;
  --heading-h2-font-weight: bold;

  // content h3
  --heading-h3-color: #{$blue-darken};
  --heading-h3-font-size: 1.25rem;
  --heading-h3-font-weight: bold;

  //content h4
  --heading-h4-color: #{$blue-darken};
  --heading-h4-font-size: 1rem;
  --heading-h4-font-weight: bold;

  // --heading-h5-border-color: ;
  // --heading-h5-border-style: solid;
  // --heading-h5-border-width: ;
  // --heading-h5-color: ;
  // --heading-h5-font-family: ;
  // --heading-h5-font-size: var(--font-size-s);
  // --heading-h5-font-weight: ;
  // --heading-h5-margin: ;
  // --heading-h5-padding: ;

  // --heading-h6-border-color: ;
  // --heading-h6-border-style: solid;
  // --heading-h6-border-width: ;
  // --heading-h6-color: ;
  // --heading-h6-font-family: ;
  // --heading-h6-font-size: var(--font-size-xs);
  // --heading-h6-font-weight: ;
  // --heading-h6-margin: ;
  // --heading-h6-padding: ;

  // pagination
  --pagination-label-color: #{$blue-lighten};
  --pagination-label-font-size: 1rem;
  --pagination-title-color: #{$blue-darken};
  --pagination-title-font-size: 1.5rem;

  // tables
  --table-head-background: #f7fcff;
  --table-head-border-width: 0;
  --table-row-even-background: #{$white};
  --table-row-odd-background: #f3f8fb;

  /* Tab blocks */
  --docsifytabs-border-color    : var(--mono-tint2);
  --docsifytabs-border-radius-px: var(--border-radius-s);
  /* Tabs */
  --docsifytabs-tab-background  : var(--mono-tint3);
  --docsifytabs-tab-color       : var(--mono-tint1);
}

/* Custom Content
============================================================================= */
@mixin paragraf {
  font-size: 1rem;
  color: $blue-lighten;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.5px;
  padding: 2rem 0;
  margin-left: 15px;
  margin-right: 25px;
  max-width: 100%;
  margin-left: 8%;
}

@mixin remove-border-bottom {
    border-bottom: none;
    padding-bottom: 0;
}

.content {
  margin-right: 20%;

  .markdown-section {
    @include paragraf;
    margin-top: 56px;

    .my-card {
      padding: 28px;
      background-color: $white;
      border-radius: 8px;
      border: 1px solid $grey-border;
      margin-bottom: 20px;
      box-shadow: none;

      &:hover {
        border-color: $grey-border;
      }

      h4 {
        color: $blue-link-darken;
      }

      a {
        font-weight: 500;
        color: $blue-link-darken;
        text-decoration: none;

        &:hover {
          color: $blue-link-darken;
        }
      }

      p {
        font-size: 16px;
        color: $blue-lighten;
        line-height: 24px;
        text-align: left !important;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;

        a {
          color: $blue-link-darken;
          text-decoration: underline;
          font-weight: 400;

          &:hover {
            text-decoration: underline;
          }
        }

        sup {
          color: $blue-link-lighten;
          text-decoration: none;
          top: 0;
          font-size: 16px;

          a {
            color: $blue-link-lighten;
            text-decoration: none;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    details {
        margin-top: 20px;
        
        summary {
          padding: 20px 24px;
          border: 1px solid $blueBorderAccordion;
          border-radius: 4px;
          box-shadow: 0 2px 4px 0 rgba(32, 32, 34, 0.02);
          color: $blue-link-darken;
          transition: 0.4s;
          outline: none;
          text-align: left;
          cursor: pointer;
          position: relative;
          font-size: 18px;
          font-weight: 500;
          font-family: $poppins, sans-serif;
          background-color: $white;

          &::before {
            display: none;
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%) rotate(270deg);
            transition: 0.3s ease;
            background-image: url("/asset/revamp/icons/icon_arrow.svg");
            background-repeat: no-repeat;
            border: 0 !important;
            width: 8px;
            height: 13px;
          }

          &:hover,
          &:focus {
            border-color: $blueBorderAccordion;
            filter: none;
            transform: none;
            box-shadow: 0 2px 4px 0 rgba(32, 32, 34, 0.02);
          }

          b {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
            font-size: 18px;
            font-weight: 500;
          }
        }

        &[open] {
          // color: red;
          summary {
            &::after {
              transition: 0.3s ease;
              transform: translateY(-50%) rotate(90deg);
            }
          }

          article {
            background-color: transparent;
            border: none;

            -ms-overflow-style: none; /* Internet Explorer 10+ */
            scrollbar-width: none; /* Firefox */

            &::-webkit-scrollbar {
              display: none; /* Safari and Chrome */
            }

          }
        }
    }

    // docsify tab
    .docsify-tabs {
        &::before{
            border: none;
        }

        .docsify-tabs__tab {
            cursor: pointer;
            outline: none;
            background-color: #eef2f6;
            border: none;
            box-shadow: none;
            font-size: 14px;
            font-weight: normal;
            text-align: center;
            color: #495d8b;
            text-decoration: none;
            padding: 8px 16px;

            &.docsify-tabs__tab--active {
                background-color: #ffffff;
                border: none;
                border-top: none;
                box-shadow: none;
                font-size: 14px;
                font-weight: normal;
                text-align: center;
                color: #495d8b;
                text-decoration: none;
                outline: none;
                padding: 8px 16px;
            }
        } 

        .docsify-tabs__content {
            background: white;
            border: none;
            box-shadow: none;
            border-top: none !important;
        }
    }

    .my-btn {
      outline: none;
      color: $white;
      background-color: $blue-link-darken;
      border-color: $blue-link-darken;
      font-size: 16px;
      font-weight: 500;
      font-family: $poppins, "sans-serif";
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      border-radius: 12px;
      border-width: 0;
      position: relative;
      padding: 12px 20px;
      border-radius: 24.5px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      cursor: pointer;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    h1 {
      font-style: normal;
      line-height: 68px;
      letter-spacing: 0.5px;
    }

    h2 {
      font-style: normal;
      line-height: 38px;
      letter-spacing: 0.470588px;
    }

    h4 {
      font-style: normal;
      line-height: 24px;
      letter-spacing: 0.5px;
    }

    h1, h2, h3, h4 {
        @include remove-border-bottom;
    }

    p {
      @include paragraf;
      padding: 0;
      margin-left: 0;
      margin-right: 0;

      a {
        color: #054fbf;

        strong {
          color: #054fbf;
        }

        &:hover {
          color: #054fbf;
        }
      }
    }

    code {
        background-color: rgba(75, 143, 198, 0.16) !important;
        padding: 2px 4px !important;
        color: inherit !important;
        font-size: 1rem !important;
    }

    ul {
      margin-top: 40px;

      li {
        margin: 20px 0;
        color: $blue-lighten;
        font-size: 16px;
        padding: 0 12px;
        line-height: normal;

        p {
          font-size: 16px;
          line-height: normal;
        }

        a {
          strong {
            color: #054fbf;
          }

          &:hover {
            color: #054fbf;
          }
        }
      }
    }

    blockquote,
    .warn {
      padding: 20px;
      background: $bg-quote;
      border-radius: 4px;
      border: 1px dashed $blue-quote-border;
      position: relative;
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: $blue-quote;
      }

      p {
        position: relative;
        padding-left: 25px;

        &::before {
          content: "" !important;
          display: block;
          position: absolute;
          left: 0;
          transition: 0.3s ease;
          background-image: url("/asset/revamp/icons/midtrans-icons-info.png");
          background-repeat: no-repeat;
          border: 0 !important;
          width: 20px;
          height: 20px;
          object-fit: contain;
          bottom: 0;
          margin: 0 auto;
          top: 4px;
          //margin: auto;
        }
        strong {
          font-weight: bold;
          color: $blue-darken;
        }
      }
    }

    .warn {
      padding-left: 40px;

      &::after {
        content: "" !important;
        display: block;
        position: absolute;
        left: 15px;
        transition: 0.3s ease;
        background-image: url("/asset/revamp/icons/midtrans-icons-info.png");
        background-repeat: no-repeat;
        border: 0 !important;
        width: 20px;
        height: 20px;
        object-fit: contain;
        bottom: 0;
        margin: 0 auto;
        top: 23px;
      }

      strong {
        font-weight: bold;
      }
    }

    .docsify-pagination-container {
      .pagination-item {
        margin-top: 1.375em;

        a {
          .pagination-item-label {
            text-transform: uppercase;
            line-height: 24px;
            position: relative;
            margin-left: auto;

            span {
            }
          }

          .pagination-item-title {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 0.470588px;
            font-size: 24px;
            margin-top: 10px;
          }
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 0;

      thead {
        th {
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          color: $blue-darken;
          text-align: left;
          background: #f7fcff;
          border-bottom: none;

          &:focus {
            outline: 0px !important;
            -webkit-appearance: none;
            box-shadow: none !important;
          }
        }

        th,
        td {
          border-top: none;
          padding: 20px;
        }
      }

      tbody {
        tr {
          td {
            border: none;
            color: $blue-lighten;
            font-size: 16px;
            line-height: normal;
            font-weight: normal;
            padding: 20px;
            vertical-align: top;
            text-align: left;

            strong {
              font-weight: bold;
            }

            code {
                font-weight: 400 !important;
            }
            
          }
        }
      }
    }

    ol {
        padding-left: 25px;
        margin: 2em 0;

        li {
            color: #495d8b;
            font-size: 16px;
            padding: 0 12px;
         
        }
    }
  }
}
