/* Navbar
============================================================================= */
:root {
  /* Root */
  // --navbar-root-background                        : ;
  // --navbar-root-background--active                : ;
  // --navbar-root-background--hover                 : ;
  // --navbar-root-border-color                      : ;
  // --navbar-root-border-color--active              : ;
  // --navbar-root-border-color--hover               : ;
  // --navbar-root-border-radius                     : ;
  // --navbar-root-border-style                      : solid;
  // --navbar-root-border-style--active              : ;
  // --navbar-root-border-style--hover               : ;
  // --navbar-root-border-width                      : ;
  // --navbar-root-color                             : ;
  // --navbar-root-color--active                     : ;
  // --navbar-root-color--hover                      : ;
  // --navbar-root-margin                            : 0 0 0 1.5em;
  // --navbar-root-padding                           : ;
  --navbar-root-transition                        : none !important;
  // --navbar-root-text-decoration                   : ;
  // --navbar-root-text-decoration--active           : ;
  // --navbar-root-text-decoration--hover            : ;
  // --navbar-root-text-decoration-color             : ;
  // --navbar-root-text-decoration-color--active     : ;
  // --navbar-root-text-decoration-color--hover      : ;

  // /* Menus */
  // --navbar-menu-background                        : var(--base-background-color);
  // --navbar-menu-border-color                      : ;
  // --navbar-menu-border-radius                     : var(--border-radius-m);
  // --navbar-menu-border-width                      : ;
  // --navbar-menu-box-shadow                        : rgba(45,45,45,0.05) 0px 0px 1px, rgba(49,49,49,0.05) 0px 1px 2px, rgba(42,42,42,0.05) 0px 2px 4px, rgba(32,32,32,0.05) 0px 4px 8px, rgba(49,49,49,0.05) 0px 8px 16px, rgba(35,35,35,0.05) 0px 16px 32px;
  // --navbar-menu-padding                           : 0.5em;
  --navbar-menu-transition                        : none !important;

  // /* Menu Root */
  // --navbar-menu-root-background                   : ;
  // --navbar-menu-root-background--active           : ;
  // --navbar-menu-root-background--hover            : ;
  // --navbar-menu-root-padding                      : ;

  // /* Menu Links */
  // --navbar-menu-link-background                   : ;
  // --navbar-menu-link-background--active           : ;
  // --navbar-menu-link-background--hover            : ;
  // --navbar-menu-link-border-color                 : ;
  // --navbar-menu-link-border-color--active         : ;
  // --navbar-menu-link-border-color--hover          : ;
  // --navbar-menu-link-border-radius                : ;
  // --navbar-menu-link-border-style                 : solid;
  // --navbar-menu-link-border-style--active         : ;
  // --navbar-menu-link-border-style--hover          : ;
  // --navbar-menu-link-border-width                 : ;
  // --navbar-menu-link-color                        : ;
  // --navbar-menu-link-color--active                : ;
  // --navbar-menu-link-color--hover                 : ;
  // --navbar-menu-link-margin                       : 0.75em 0.5em;
  // --navbar-menu-link-padding                      : 0.2em 0;
  // --navbar-menu-link-text-decoration              : ;
  // --navbar-menu-link-text-decoration--active      : ;
  // --navbar-menu-link-text-decoration--hover       : ;
  // --navbar-menu-link-text-decoration-color        : ;
  // --navbar-menu-link-text-decoration-color--active: ;
  // --navbar-menu-link-text-decoration-color--hover : ;
}

.app-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  width: calc(100% - var(--sidebar-width));
  background-color: $white;
  border: 1px solid $grey-border;
  padding: 14px 40px 14px 20px;
  border-left: none;
  border-right: none;
  
  @include flex-init();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);

  .search-new {
    width: 50%;

    .search {
      position: relative;
      margin-bottom: 0;
      padding: 0;
      border: none;

      .input-wrap {
        width: 100%;
        position: relative !important;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 15px;
          bottom: 0;
          margin: auto;
          transition: 0.3s ease;
          background-image: url("/asset/revamp/icons/midtrans-icons-search.svg");
          background-repeat: no-repeat;
          border: 0 !important;
          width: 15px;
          height: 15px;
          z-index: 1;
        }
  
        /* clears the ‘X’ from Internet Explorer */
        input[type="search"]::-ms-clear {
          display: none;
          width: 0;
          height: 0;
        }
        input[type="search"]::-ms-reveal {
          display: none;
          width: 0;
          height: 0;
        }
        /* clears the ‘X’ from Chrome */
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
          display: none;
        }
  
        input {
          max-height: 36px;
          outline: none;
          box-shadow: none;
          display: block;
          width: 100%;
          padding: 8px 8px 8px 8px;
          background-color: #fbfdfe;
          border: 1px solid #deeaf5;
          border-radius: 4px;
          height: auto;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 0;
          width: 100%;
          padding: 8px 8px 8px 50px;
          padding-top: 4px;
          padding-bottom: 4px;
  
          &::placeholder {
            font-size: 16px;
            font-weight: normal;
            letter-spacing: 0;
            color: $grey-darken;
          }

          &:hover,
          &:focus {
            border: 1px solid $blue;
            outline: none;
            &::placeholder {
              color: $blue;
            }
            & ~ .input-group-append span {
              border: 1px solid $blue !important;
              border-right: 0 !important;
            }
            & ~ .input-group-prepend span {
              border: 1px solid $blue !important;
              border-left: 0 !important;
            }
          }
        }

        .clear-button {
          &.show {
            display: none;
          }
        }
        
      }

      .results-panel {
        &.show {
          position: absolute;
          left: 0;
          top: 36px;
          max-height: 75vh;
          right: 0;
          overflow-y: scroll;
          background: white;
          /* bottom: 0; */
          padding: 20px;
          text-align: left;
          z-index: 3;
          border: 1px solid blue;
          border: 1px solid #deeaf5;
          border-top: none;
        }
      }

    }

    
  }

  .d-flex {
    display: flex !important;
    margin-left: auto !important;

    .button {
      color: #005dac;
      background-color: #ffffff;
      border-color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      font-family: "Poppins", "sans-serif";
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      border-radius: 12px;
      border-width: 0;
      position: relative;
    }
    
    .dropdown {
      position: relative;

      .navbar__dropdown {
        @extend .button;
        font-family: "Poppins", sans-serif;
        padding: 6px 12px;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        text-align: left;
        min-width: 115px;
        color: #005dac;
        background-color: #ffffff;
        border-color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        font-family: "Poppins", "sans-serif";
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        border-radius: 12px;
        border-width: 0;
        position: relative;

      }

      .dropdown__panel {
        padding: 10px 0;
        display: none;
        overflow: hidden;
        position: absolute;
        background-color: #ffffff;
        border-radius: 4px;
        z-index: 1;
        top: 45px;
        left: -15px;
        min-width: 160px;
        border: 1px solid #deeaf5;

        display: flex;
        flex-direction: column;
        display: none;

        .dropdown__link {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0;
          text-decoration: none;
          color: #123049;
          padding: 10px 8px;
          text-align: left;

          &:hover {
            background-color: #f8f9fa;
          }
        }
      }
    }
  }

  // .sidebar {
  //   &__button {
  //     &-wrapper {
  //       display: flex;
  //       flex-wrap: wrap;
  //       margin-left: 20px;
  //       margin-right: 20px;
  //       &-nonpayment {
  //         padding-bottom: 4rem;
  //       }
       
  //     }
  //     border-radius: 4px;
  //     text-align: center;
  //     font-size: 16px;
  //     font-weight: 500;
  //     padding: 11px 25px;
  //     background-color: $white;
  //     border: 1px solid #e1e1e1;
  //     color: $blue-darken;
  //     text-decoration: none;
  //     &:hover {
  //       border: 1px solid $blue-link-darken;
  //       background-color: #ecf4ff;
  //       color: $blue-link-darken;
  //     }
  //     &.active {
  //       border: 1px solid $blue-link-darken;
  //       background-color: #ecf4ff;
  //       color: $blue-link-darken;
  //     }
  //   }

  // }

  .image-fluid sidebar__capsule {

  }

  // right sidebar 
  .sidebar__right {
    position: fixed;
    height: 100vh;
    top: 120px;
    right: 0;
    /* left: 0; */
    /* background: white; */
    width: 21.46%;
    padding-left: 3rem !important;
    padding-right: 3rem;
    text-align: left;

    .sidebar__right-wrapper {
      .sidebar__right-title {
        font-size: 18px;
        font-weight: bold;
        color: #123049;
        margin-top: 0;
        line-height: 24px;
        letter-spacing: 0.5px;
        font-style: normal;
      }

      ul {
        li {
          margin-bottom: 12px;

          a {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0;
            text-decoration: none;
            color: #123049;

            &:hover {
              color: #0094d3;
            }
          }
        }
      }
    }
  }

  // top nav menus
  ul {
    li {
      transform: none !important;

      a {
        -webkit-transition: none !important;
        transition: none !important;
      }

      span {
        cursor: pointer;
        color: #005dac;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        position: relative;
        background: none !important;
        outline: none !important;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotate(270deg);
            transition: 0.3s ease;
            background-image: url('/asset/revamp/icons/icon_arrow.svg');
            background-repeat: no-repeat;
            border: 0 !important;
            width: 8px;
            height: 13px;
        }

        &:hover {
            color: #005dac;

            &:after {
                transition: 0.3s ease;
                transform: translateY(-50%) rotate(90deg);
            }
          }
        
      }

      // sub menu top nav
      &.focus-within,
      &:hover {
        -webkit-transition: none !important;
        transition: none !important;
        ul {
          background-color: #ffffff;
          border-radius: 4px;
          z-index: 100;
          overflow: hidden;
          border: 1px solid #deeaf5;
          margin: 0;
          margin: 0;
          min-width: 160px;
          padding: 0;
          padding: 10px 0;
          -webkit-transition: none !important;
          transition: none !important;

          li {
            transform: none !important;
            a {
              -webkit-transition: none !important;
              transition: none !important;
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              letter-spacing: 0;
              text-decoration: none;
              color: #123049;
              padding: 10px 8px;
              margin: 0;

              &:hover {
                background-color: #f8f9fa;
              }
            }
          }
        }
      }
    }
  }
}

.theme__dark {
  .navbar {
    background-color: $blue-dark-darken;
    border: none;
    &__current-menu {
      color: $white;
    }
    &__hamburger {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(106deg)
        brightness(105%) contrast(101%);
    }
    &__search {
      img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(106deg)
          brightness(105%) contrast(101%);
      }
    }
  }
}
