/* Sidebar
============================================================================= */
:root {
  --sidebar-background                          : #{$white} ;
  --sidebar-border-color                        : var(--base-boder-color);
  --sidebar-border-width                        : 0 1px 0 0;
  --sidebar-padding                             : 0 0 0 12px;
  --sidebar-transition-duration                 : var(--duration-fast);
  --sidebar-width                               : 17rem;

  /* Name */
  --sidebar-name-font-family                    : 'Poppins', sans-serif;
  --sidebar-name-font-size                      : var(--font-size-l);
  --sidebar-name-font-weight                    : normal;
  --sidebar-name-margin                         : 1.5rem 0 0;
  // --sidebar-name-padding                        : ;
  --sidebar-name-text-align                     : center;

}


/* Custom Sidebar
============================================================================= */
.sidebar-toggle{
  display: none;
}

.sidebar {
  overflow: hidden;
  .app-name{
    text-align: left;
    .app-name-link {
      img {
        max-width: 62%;
      }
    }
  }
  .sidebar__capsule {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
  }

  .sidebar-nav {
    height: 100vh;
    &.hide {
      display: block !important;
    }

    >ul {
      overflow: hidden;
      max-height: 90%;
      overflow-y: scroll;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */

      &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
      }
    }

    // main menu
    ul {
      li {
        position: relative;
        margin-top: 0.4em;

        img {
          height: 1rem;
          padding-right: 1rem;
        }

        a {
          background: none !important;
          text-decoration: none;

          strong {
            font-size: 14px;
            font-weight: 500;
          }

          &:hover {
            strong {
              color: $blue !important;
            }
          }
        }

        small {
          font-size: 14px;
          color: $blue-darken;
          text-decoration: none;
          font-weight: 500;
          color: $blue-lighten !important;
        }

        &:hover, &.active { 
          img {
            filter: invert(19%) sepia(94%) saturate(2408%) hue-rotate(193deg) brightness(93%) contrast(102%);
          }
        }

        &.active {
          a {
            strong {
              color: $blue !important;
            }

            &:after {
              content: "";
              height: 80%;
              width: 3px;
              background-color: $blue;
              position: absolute;
              right: 0;
              top: 4px;
              // bottom: 0;
              margin: auto;
              max-height: 25px;
            }
            
          }
        }

        &.open {
          ul {
            margin-bottom: 0;
          }
        }

        //sub menu
        .app-sub-sidebar,ul {
          li {
            a {
              font-size: 14px;
              color: $blue-lighten;
              background: $white;
              text-decoration: none;
              font-weight: normal;
              max-width: 100%;
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              border: none;

              &:after {
                display: none;
              }

              &:hover {
                color: $blue;
                max-width: 100% !important;
                padding-left: 0 !important;
                margin-left: 0 !important;
              }
            }
            // li active and hover
            &.active, &:hover {
              .section-link {
                color: $blue;
                margin: 0 !important;
                padding: 0.25em 0 0.25em 0 !important;

                
              }
            }
            // li active
            &.active {
              .section-link {
                &:after {
                  display: block;
                }
              }

              &.open, &.hold {
                a {
                  color: $blue;
                  &::after {
                    content: "";
                    height: 80%;
                    width: 3px;
                    background-color: $blue;
                    position: absolute;
                    right: 0;
                    top: 4px;
                    margin: auto;
                    max-height: 25px;
                    display: block;
                  }
                }
              }
            }
            // li hover
            &:hover {
              &:after {
                display: none !important;
              }
            }

            //3rd level menus
            ul {
              li {
                a {
                  color: $blue-lighten !important;

                  &::after {
                    display: none !important;
                  }
                }

                &.active {
                  a {
                    color: $blue !important;

                    &::after {
                      display: block !important;
                    }
                  }
                }
              }
            }

          }
        }
      }
    }
  }
}