.card {
    padding: 28px;
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $grey-border;
    margin-bottom: 20px;
    @media screen and (max-width: $tablet) {
        margin-left: -15px;
        margin-right: -15px;
    }
    &__title {
        margin-top: 0;
        line-height: 32px;
        color: $blue-darken;
    }
    &__description {
        color: $blue-lighten;
    }
    &__content {
        &-title-link {
            font-weight: 500;
            color: $blue-link-darken;
            text-decoration: none;
        }
        &-link {
            color: $blue-link-darken;
            text-decoration: underline;
        }
        &-link-light {
            color: $blue-link-lighten;
            text-decoration: none;
        }
        &-description {
            font-size: 16px;
            color: $blue-lighten;
            line-height: 24px;
        }
        &-button {
            padding: 12px 20px;
            border-radius: 24.5px;
        }
    }
    &__feature {
        &-icon {
            background-color: $blue-lighten-20;
            padding: 25px 20px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            @media screen and (max-width: $tablet) {
                img {
                    width: 25px;
                    height: auto;
                }
            }
        }
    }
}

.cards {
    @media screen and (max-width: $tablet) {
        margin-left: -15px;
        margin-right: -15px;
    }
    &__child {
        &:nth-child(odd) {
            background: #f3f8fb;
        }
        &:nth-child(even) {
            background: $white;
        }
        padding: 20px;
        &-category {
            &__title {
                font-size: 18px;
                font-weight: normal;
                line-height: 28px;
                color: $blue-lighten;
            }
        }
        &-title {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: $blue-darken;
        }
        &-list {
            color: $blue-lighten;
        }
    }
}

.theme__dark {
    .card {
        background-color: $blue-dark;
        border: 1px solid rgba(222, 234, 245, 0.13);
        &__title {
            color: $white;
        }
        &__description {
            color: $white;
        }
        &__content {
            &-title-link {
                color: $white;
            }
            &-description {
                color: $white;
            }
            &-link {
                color: $white;
            }
        }
        &__feature {
            &-icon {
                background-color: #102f51;
            }
        }
    }
    .cards {
        &__child {
            &:nth-child(odd) {
                background: #0e2b4c;
            }
            &:nth-child(even) {
                background: #081f3a;
            }
            &-category {
                &__title {
                    strong {
                        color: $white;
                    }
                    color: $white;
                }
            }
            &-title {
                color: $white;
            }
            &-list {
                color: $white;
            }
        }
    }
}