.modal {
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(47, 80, 117, 0.27);;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 1000;
        overflow-y: auto;
    }
    &__container {
        background-color: #fff;
        padding: 20px;
        max-width: 800px;
        // max-height: 100vh;
        border-radius: 12px;
        box-sizing: border-box;
        margin: 70px auto;
        @media screen and (max-width: $tablet) {
            width: calc(100vw - 10%) !important;
            margin: 20px auto;
        }
    }
    &-questionnare {
        width: 638px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .modal__close:before { 
            content: "\2715"; 
        }
    }
    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.25;
        color: #00449e;
        box-sizing: border-box;
    }
    &__close {
        background: transparent;
        border: 0;
        margin-left: auto;
    }
    &__content {
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: rgba(0,0,0,.8);
    }
    &__introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 35px;
        &-title {
            font-size: 24px;
            text-align: center;
            color: $blue-darken;
            margin-top: 36px;
        }
        &-description {
            font-size: 16px;
            text-align: center;
            line-height: 24px;
            color: $blue-lighten;
            margin-top: 0;
        }
    }
    &__question {
        margin-top: 40px;
        border-radius: 4px;
        background: $bg-blue;
        padding: 20px;
    }
}

.theme__dark {
  .modal {
    &__overlay {
      background-color: rgba(0, 3, 6, 0.53);
    }
    &__container {
      background-color: #08223f;
    }
    &__title {
      color: $white;
    }
    &__header {
      .modal__close:before {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(106deg) brightness(105%) contrast(101%);
      }
    }
    &__introduction {
      &-title {
        color: $white;
      }
      &-description {
        color: $white;
      }
    }
    &__question {
      background-color: #06192e;
    }
  }
}

/**************************\
      Animation Style
\**************************/

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}