.navigation-page {
    margin-top: 52px;
    width: 100%;
    border-top: 1px solid $grey-border;
    &__wrapper {
        display: flex;
        margin-top: 22px;
        @media screen and (max-width: $tablet) {
            flex-direction: column;
            padding: 0 15px;
        }
    }
    &__prev {
        text-decoration: none;
        &-caption {
            text-transform: uppercase;
            font-size: 16px;
            line-height: 24px;
            color: $blue-lighten;
            position: relative;
            width: 110px;
            text-align: center;
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                transition: 0.3s ease;
                background-image: url('../asset/icons/icon_arrow.svg');
                background-repeat: no-repeat;
                border: 0 !important;
                width: 8px;
                height: 13px;
            }
        }
        &-title {
            font-size: 24px;
            color: $blue-darken;
            margin-top: 10px;
        }
    }
    &__next {
        margin-left: auto;
        text-decoration: none;
        &-caption {
            text-transform: uppercase;
            font-size: 16px;
            line-height: 24px;
            color: $blue-lighten;
            position: relative;
            width: 110px;
            text-align: center;
            margin-left: auto;
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%) rotate(180deg);
                transition: 0.3s ease;
                background-image: url('../asset/icons/icon_arrow.svg');
                background-repeat: no-repeat;
                border: 0 !important;
                width: 8px;
                height: 13px;
            }
        }
        &-title {
            font-size: 24px;
            color: $blue-darken;
            margin-top: 10px;
        }
    }
}

.theme__dark {
    .navigation-page {
        border-top: 1px solid #102f51;
        &__prev {
            &-caption {
                color: $white;
                &::before {
                    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(106deg) brightness(105%) contrast(101%);
                }
            }
            &-title {
                color: $white;
            }
        }
        &__next {
            &-caption {
                color: $white;
                &::after {
                    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(106deg) brightness(105%) contrast(101%);
                }
            }
            &-title {
                color: $white;
            }
        }
    }
}