.tabs {
    width: 100%;
    margin-bottom: 20px;
    &__list {
        list-style: none;
        display: inline-flex;
        background-color: #eef2f6;
        margin: 0;
        padding: 5.2px 0;
        width: 100%;
        @media screen and (max-width: $tablet) {
            min-width: max-content;
            margin: 20px 0;
            background-color: transparent !important;
        }
        &-tab {
            padding: 8px 16px;
            background-color: #eef2f6;
            font-size: 14px;
            font-weight: normal;
            text-align: center;
            color: $blue-lighten;
            text-decoration: none;
            @media screen and (max-width: $tablet) {
                width: 100%;
                border: 1px solid #e1e7ed;
                border-radius: 4px;
                margin-right: 12px;
            }
            &:focus {
                outline: none !important;
            }
            &[aria-selected="true"] {
                background-color: $white;
            }
        }
    }
    &__panel {
        padding: 23px 22px;
        background-color: $white;
        display: block;
        @media screen and (max-width: $tablet) {
            margin-left: -15px;
            margin-right: -15px;
        }
        &[hidden] {
            display: none;
        }
        &-wrapper {
            margin-top: 32px;
        }
        &-title {
            font-size: 16px;
            color: $blue-darken;
            line-height: 24px;
            font-weight: 500;
        }
        &-description {
            font-size: 16px;
            color: $blue-lighten;
            line-height: 24px;
        }
        &-link {
            color: $blue-link-darken;
            text-decoration: underline;
            font-weight: 500;
        }
        &-request {
            padding: 17px 20px;
            background: #f7fafd;
            &-text {
                font-family: 'Menlo', sans-serif;
                font-size: 16px;
                line-height: 24px;
                color: $blue-lighten;
            }
        }
    }
}

.theme__dark {
    .tabs {
        &__list {
            background-color: #081f3a;
            &-tab {
                background-color: #081f3a;
                color: $white;
                &[aria-selected="true"] {
                    background-color: #0b2440;
                }
            }
        }
        &__panel {
            background-color: #0b2440;
            color: $white;
            &-title {
                color: $white;
            }
            &-description {
                color: $white;
            }
            &-link {
                color: $white;
            }
            &-request {
                background: #081f3a;
                &-text {
                    color: $white;
                }
            }
        }
    }
}